.aboutSection {
    width: 100%;
    height: 90vh;
    background-color: rgb(248, 247, 247);

    @include responsive(phone) {
        height: 100vh;
    }


    &__container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        @include responsive(big-desktop) {
            width: 80%;
        }

        &_upArrow {
            margin: 0 auto;
            margin-top: 8rem;
        }
    }

    &__infoContainer {
        width: 60%;
        margin: 0 auto;
        font-family: 'Libre Franklin', sans-serif;

        @include responsive(tab-land) {
            width: 70%;
            margin-top: 5rem;
        }

        @include responsive(tab-land) {
            width: 80%;
            margin-top: 5rem;
        }

        @include responsive(phone) {
            width: 100%;
            margin-top: 5rem;
        }
    }
}


